body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

html{
    scroll-behavior: smooth;
}

nav, .nav-links{
    display: flex;
}

nav{
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}