.space-mono-regular {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: italic;
}


body {
    font-family: "Space Mono", serif;
    background-color: rgb(235, 235, 235);
    z-index: 0;
}

html {
    scroll-behavior: smooth;
}

#logo {
    /*color: black;*/
    color: rgb(108, 44, 180);
    margin-left: 25px;
    text-shadow: 3px 3px rgb(0, 0, 0, .6);
}

.logoIMG {
    margin-top: 5px;
    max-width: 240px;
}


nav,
.nav-links {
    display: flex;
}

nav {
    left: 0;
    top: 0;
    z-index: 100;
    position: fixed;
    backdrop-filter: blur(3px);
    /* Blur the background */
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */
    background-color: rgba(46, 0, 92, 0.95);
    width: 100vw;
    height: 12vh;
    /* Ensure the nav itself is a flexbox container */
    justify-content: space-between;
    /* Space between logo and nav-links */
    align-items: center;
    /* Vertically center the items */

}

.nav-links {
    margin-top: 25px;
    display: flex;
    /* Use flex, not flexbox */
    justify-content: space-evenly;
    /* Space the nav links evenly */
    list-style: none;
    font-size: 1.5rem;
    flex-grow: 1;
    /* Make it take the remaining space in the nav */
}

.nav-links li {
    text-shadow: 3px 3px black;
    border: solid 2px black;
    border-radius: 12px;
    padding: 2px 12px;
    font-weight: bold;
    font-size: 1em;
    transition: .15s;
    margin-right: 14px;
    color: white;
}

/* changing anchor tags, removes blue highlight and underline */
a {
    color: inherit;
    text-decoration: none;
}

.pageContainer {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 90%;
    position: relative;
    margin-top: 20vw;
    border: 1px solid rgb(0, 0, 0, .6);
    border-radius: 3vw;
    background-color: white;

}

.pageBody {
    color: black;
    padding: 2vw;
}

/*
        Row Container
*/


.rowContainer {
    display: flex;
    overflow: scroll;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 4px 10px 4px;
    justify-content: space-between;
}

.itemContainer {
    padding: 10px;
    border: 2px solid black;
    margin: 15px;
    background-color: white;
}


.itemTitle {
    border-bottom: 2px solid black;
    color: rgb(0, 0, 0);
}

.itemBox {
    width: 100%;
    color: white;
    border: 2px solid white;
    padding: 10px 2px 10px 2px;
    text-align: center;
}

.itemDescription {
    border: 1px solid rgb(255, 255, 255);
    padding: 4px;
}